.contact{
    position: relative;
    display: flex;
    flex-direction: column;
    color:#22116C;
    text-align: center;
    background-color: white;
    padding:3vw;
    font-family: 'Lexend';
    background-image: url('../public/contactbackground.png');
    margin-top: 7vh;
    animation-duration: 10s;
    animation-name: contact;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transform: translateX(-1000px);
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}
@keyframes contact{
    from{
        opacity: 0;
        transform: translateX(-600px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.contact h1{
    color:#22116C;
}
.firstfield{
    margin-left: 30%;
    position: relative;
    display: flex;
    height: 6vh;
    width: 40vw;
    justify-content: space-between;
    font-weight: bold;
}
.firstfield .Fname{
    position: relative;
    background-color: #E4E4E4;
    width:40%;
    height:6vh;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease-in-out;
}
.firstfield .Lname{
    position: relative;
    background-color: #E4E4E4;
    width:40%;
    margin-right: 5%;
    height:6vh;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease-in-out;
}
.restfield{
    margin-left: 30%;
    position: relative;
    margin-top: 3vh;
    background-color: #E4E4E4;
    height:6vh;
    width: 38vw;
    display: flex;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease-in-out;
    color: #22116C;
}
input{
    border: none;
    width: 38vw;
    background-color: #E4E4E4;
    border-radius: 10px;
    color: #22116C;
    padding-left: 2vw;
    padding-top: 0.5vh;
}
textarea{
    border: none;
    width: 38vw;
    background-color: #E4E4E4;
    border-radius: 10px;
    color: #22116C;
    padding-left: 2vw;
    padding-top: 5vh;
}
.textfield{
    margin-left: 30%;
    position: relative;
    margin-top: 3vh;
    background-color: #E4E4E4;
    width: 38vw;
    display: flex;
    margin-bottom: 3vh;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease-in-out;
}
::placeholder{
    color:#9385CE;
    font-weight: bolder;
}
.contactbutton input{
    margin-left: 45%;
    position: relative;
    margin-top: 3vh;
    background-color: #22116C;
    height:5vh;
    width: 11vw;
    display: flex;
    padding:1vh;
    border-radius: 10px;
    color:#FFE600;
}
@media screen and (max-width: 1100px){
    .firstfield{
        width: 60vw;
        margin-left: 20%;
    }
    input,textarea{
        width:60vw;
    }
    .restfield{
        width: 57vw;
        margin-left: 20%;
    }
    .textfield{
        width: 57vw;
        margin-left: 20%;
    }
    .contactbutton input{
        width: 17vw;
        margin-left: 40%;
    }
} 

@media screen and (max-width: 750px){

    input,textarea{
        width:61vw;
    }
    .restfield{
        width: 59vw;
        margin-left: 20%;
    }
    .textfield{
        width: 59vw;
        margin-left: 20%;
    }
    .firstfield{
        flex-direction: column;
        height: 16vh;
    }
    .firstfield .Fname{
        width: 57vw;
    }
    .firstfield .Lname{
        width: 57vw;
    }
    .contact h1{
        margin-bottom: 5vh;
    }
    .contactbutton input{
        width: 25vw;
        margin-left: 40%;
    }
}